<a href="https://colab.research.google.com/github/ashish737/devc-/blob/master/06_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- read the age of the person as input and print the output as eligible for voting or not the age is between 18 and 85 is eligible

In [0]:
#include<stdio.h>
int main()
{
	int age;
	scanf("%d",&age);
	if(18>age>85)
	{
		printf("voting is eligible");
	}
    else
    {
	   printf("voting is not eligible");
	}
}

 - lower and upper case

In [0]:
#include<stdio.h>
int main()
{
	char a;
	scanf("%c",&a);
	if(a >=97 && a <= 90)
	{
		printf("upper case character");
	}
	else if(a >=48 && a <= 70)
	{
		printf("lower case character");
	}
	else if(a >=0 && a <= 9)
	{
		printf("digital character");
	}
}
//A-Z -- 97-90
//a-z -- 48-70
//0-9 -- digital

 - read the input as character and print the output as wheather it is vowel or constant


test case-
a- vowel
s-constant

In [0]:
#include<stdio.h>
int main()
{
	char a;
	scanf("%c",&a);
	if(a == 'a'|| a == 'e'|| a == 'i'|| a == 'o'|| a == 'u')
	{
		printf("vowel");
	}
	else
	{
		printf("constant");
	}
	return 0;
}

 - read the number as input and check whether it is perfectly divisible by 3 and 5 or not   
 -test case
   - 15  -- yes
    -12  -- no

In [0]:
#include<stdio.h>
int main()
{
	int a;
	scanf("%d",&a);
	if(a%3==0 && a%5==0)
	{
		printf("yes");
	}
	else
	{
		printf("no");
	}
	
}

 - read the number as input (week number) and print the output as week name

  - test case
  -- 1-sunday
    --3-tuesday

In [0]:
#include<stdio.h>
int main()
{
	int x;
	scanf("%d",&x);
	switch(x)
	{
	case 1: printf("sunday");
	break;
	case 2: printf("monday");
	break;
	case 3: printf("tuesday");
	break;
	case 4: printf("wednesday");
	break;
	case 5: printf("thursday");
	break;
	case 6: printf("friday");
	break;
	case 7: printf("saturday");
	break;	
	}
}

- read the three angles as input and check with these angles can able to construct triangle or not.
-- test case 
--  90 45 45 -- yes
 --  0 0 180 -- no
 -- 60 90 30 -- yes

In [0]:
#include<stdio.h>
int main()
{
	int a1,a2,a3;
	scanf("%d%d%d",&a1,&a2,&a3);
	if(a1!=0 && a2!=0 && a3!=0 && (a1+a2+a3==180))
	{
		printf("yes");
	}
	else
	{
		printf("no");
	}
}

1.while
2.do-while
3.for
 - 1.in while loop first conditon will be tested and then after the loop statements will be executed.
- 2.

read the number as input and print the natural numbers from 1 to N

test cases:-

10 -- 1 2 3 4 5 6 7 8 9 10

In [0]:
#include<stdio.h>
int main()
{
	int a,i=1;
	scanf("%d",&a);
	while(i<=a)
	{
		printf("%d",i);
		i++;
	}
}

read the number as input and print the sum of even numbers between 1 to N
 - test cases:-
 10 -- 30(2+4+6+8+10)

In [0]:
#include<stdio.h>
int main()
{
	int a,i=1,s=0;
	scanf("%d",&a);
	while(i<=a)
	{
		if(i%2==0)
		{
			s = s+i;
		}
		i++;
	}
	printf("%d",s);
	return 0;
}

_ read the two number as input and print the output as the numbers which is perfectly divided by 3 and 5 
 = test cases:-
 1 15 -- 15

In [0]:
#include<stdio.h>
int main()
{
	int a,b;
	scanf("%d%d",&a,&b);
	while(a<=b)
	{
		if(a%3==0 && a%5==0)
		{
			printf("%d",a);
		}
		a++;
	}
	
}

- read the number as input and print the output as digits of the number
test case:-
 - 145 -- 5 4 1
  - 1889 -- 9 8 8 1

In [0]:
#include<stdio.h>
int main()
{
	int a,r;
	scanf("%d",&a);
	while(a!=0)
	{
		r = a % 10;
		printf("%d",r);
		a = a / 10;
	}
}

- read the input as number  and print the output in following order
- test cases:-
 - 1889 -- nine eight eight one
  - 1520 -- zero two five one

In [0]:
#include<stdio.h>
int main()
{
	int x,r;
	scanf("%d",&x);
	while(x!=0)
{
		r = x % 10;
		x = x / 10;
	switch(r)
	{
		case 0 : printf("zero");
		break;
		case 1 : printf("one");
		break;
		case 2 : printf("two");
		break;
		case 3 : printf("three");
		break;
	}
}
}

- read the input as number and print the output in the following manner
test case:
-98254 -- <2,9>
 reason for the output is print higher and lower digit of the number

In [0]:
#include<stdio.h>
int main()
{
	int x,r,large=0,small=0;
	scanf("%d",&x);
	while(x!=0)
	{
		r = x % 10;
		if(large<r)
		{
		large = r;
		}
		if(small>r)
		{
			small = r;
		}
	}
	x /= 10;
	printf("<%d,%d>",small,large);
}

- read the input as a number and print the ouput in the following manner
- test cases 
- 1889 -- 5

In [0]:
#include<stdio.h>
int main()
{
	int x,r,s=0;
	scanf("%d",&x);
	while(x=0)
	{
		r = x % 10;
		if(r == 8){
			s += 2;
		}
		else if(r == 0 || r == 6 || r == 9){
			s +=2;
		}
			x = x/10;
	}
printf("%d",r);
}